.cocktailName{
    font-size: 1.9em;
    margin-bottom: 0;
    font-family: "Moon Dance";
}
.cocktailDescription{
    font-size: 1em;
    margin-top: 0;
    color:grey;
    font-style: italic;
}
.cocktailCard{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
}
.cocktailCard > p{
    width: 100%;
}
.glassImage{
    text-align: left;
    height: 80%;
    max-height: 80px;
    padding-right: 20px;
}
.cocktailCardTextContainer{
    text-align: center;
    width: 100%;
}