.cocktailName{
    font-size: 1.9em;
    margin-bottom: 0;
    font-family: "Moon Dance";
}
.cocktailDescription{
    font-size: 1em;
    margin-top: 0;
    color:grey;
    font-style: italic;
}
.cocktailCard{
    width: 100%;
    margin-right:20px;
    display: flex;
    flex-direction: row;
}
.cocktailCard > p{
    width: 100%;
}
.glassImage{
    padding-right: 20px;
}