.cocktailName{
    font-size: 1.9em;
    margin-bottom: 0;
    font-family: "Moon Dance";
}
.cocktailDescription{
    font-size: 1em;
    margin-top: 0;
    color:grey;
    font-style: italic;
}
.cocktailCard{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
}
.cocktailCard > p{
    width: 100%;
}
.glassImageContainer{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.glassImage{
    max-height: 80px;
}
.cocktailCardTextContainer{
    width: 80%;
    text-align: center;
    width: 100%;
}