<footer class="row footerSection align-items-end">
    <!-- <div class="social-line">
        <a [href]="" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
        </a>
        <a [href]="" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
        </a>
        <a [href]="" target="_blank">
            <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png" alt="" matTooltip="Twitter"
             matTooltipPosition="above">
        </a>
    </div> -->
    <div class="col-12 text-center" style="font-size: small;">
        &copy;2023 Vubar Aps
    </div>
</footer>
