.footerSection{
    min-height: 40px;
    box-shadow: 10px 5px 25px -15px black;
    background-color: var(--secondary-background);
    bottom: 0;
    width: 100vw;
}
.social-line{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.social-line > a{
    padding: 10px;
}