<nav class="navbar row">
    <div class="col-sm-2">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Hjem</a>
    </div>
    <div class="col-sm-2">
        <a routerLink="/cocktail-menu" routerLinkActive="active" ariaCurrentWhenActive="page">Cocktailkort</a>
    </div>
    <div class="col-sm-2">
        <a routerLink="/home" class="logoButton">
            <img src="assets/logo/VubarLogoText.png" alt="">
        </a>
    </div>
    <div class="col-sm-2">
        <a routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">Om os</a>
    </div>
    <div class="col-sm-2 callToActionButton">
        <button mat-raised-button routerLink="/order" routerLinkActive="active" ariaCurrentWhenActive="page">
            Bestil
        </button>
    </div>
</nav>
<hr class="navbarLine">