  .navbar {
    background-color: var(--primary-background);
    text-align: center;
    box-sizing: content-box;
    padding-left: 40px;
    padding-right: 40px;
    max-height: 10vh;
  }
  
  .navbar a {
    color: black;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
  }
  .navbar > div{
    max-height: 10vh;
    overflow: hidden;
  }
  .navbar a:hover {
    color: black;
    text-decoration: underline;
  }
  
  .navbar a.active {
    color: grey;
  }
  .logoButton{
    max-height: 100%;
  }
  .logoButton > img{
    max-height: 10vh;
    max-width: 100%;
  }
  .navbarLine{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
    border:none;
    height: 1px;
    background-color: black;
    opacity: 0.75;
    position: relative;
  }
  .callToActionButton{
    min-height: 100%;
  }
  .callToActionButton > button{
    background-color: var(--primary-call-to-action);
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 2px;
  }
  .callToActionButton > button > p{
    height: 100%;
    padding: 0;
    margin: 0;
  }