  @media only screen and (max-width: 767px) {
    .navbar {
      display: none;
    }
  }
  @media only screen and (min-width: 767px) {
    .mobile-navbar {
      display: none;
    }
  }
  .navbar {
    background-color: var(--primary-background);
    text-align: center;
    box-sizing: content-box;
    padding-left: 40px;
    padding-right: 40px;
    max-height: 10vh;
  }
  
  .navbar a {
    color: black;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
  }
  .navbar > div{
    max-height: 10vh;
    overflow: hidden;
  }
  .navbar a:hover {
    color: black;
    text-decoration: underline;
  }
  
  .navbar a.active {
    color: grey;
  }
  .logoButton{
    max-height: 100%;
  }
  .logoButton > img{
    max-height: 10vh;
    max-width: 100%;
  }
  .navbarLine{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
    border:none;
    height: 1px;
    background-color: black;
    opacity: 0.75;
  }
  .callToActionButton{
    min-height: 100%;
  }
  .callToActionButton > button{
    background-color: var(--primary-call-to-action);
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 2px;
  }
  .callToActionButton > button > p{
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .mobile-navbar-container{
    background-color: var(--primary-background);
  }
  .mobile-navbar-drawer{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-background); 
    z-index: -1;
  }
  .navbar-item{
    width: 100%;
    text-align: center;
  }
  .navbar-item > h2 > a{
    text-decoration: none;
    color: black;
  }
  .navbar-item > h2 > a:hover{
    text-decoration: underline;
  }
  .mobile-order-navbar-button > *{
    background-color: var(--primary-call-to-action);
  }
  .mobile-navbar-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mobile-navbar-row > *{
    align-self: center;
    justify-self: end
  }
  
  