.orderForm{
    max-width: 1264px;
    padding: 20px;
    background-color: var(--secondary-background);
    margin: 20px;
    box-shadow: 10px 5px 25px -15px black;
}
.userInfoForm{
    padding:40;
}
.userChoicesForm{
    padding:40;
}
.submit-button-container{
    display: flex;
    justify-content: end;
}
.submit-button{
    background-color: var(--primary-call-to-action);
    font-size: x-large;
}
.submit-button:hover{
    font-size: xx-large;
    transition: 0.2s;
}
.form-field-container{
    padding: 20px;
}
.form-field{
    width: 100%;
}