<div class="justify-content-center d-flex">
    <div class="row orderForm" >
        <form class="row" [formGroup]="group" #addCategoryForm="ngForm" >
            <h3 style="text-align: center;">Modtag uforpligtende tilbud</h3>
            <div class="col-6">
                <mat-form-field class="form-field">
                    <mat-label>Din email</mat-label>
                    <input matInput formControlName="Email">
                </mat-form-field>

            </div>
            <div class="col-6">
                <mat-form-field class="form-field">
                    <mat-label>Dit navn</mat-label>
                    <input matInput type="text" required formControlName="Name">
                </mat-form-field>

            </div>
            <div class="col-6">
                <mat-form-field class="form-field">
                    <mat-label>Antal gæster</mat-label>
                    <input matInput type="number" required formControlName="GuestCount">
                </mat-form-field>

            </div>
            <div class="col-6">
                <mat-form-field class="form-field">
                    <mat-label>Dato</mat-label>
                    <input matInput type="date" required formControlName="Date">
                </mat-form-field>

            </div>
            <div class="col-6">
                <mat-form-field class="form-field">
                    <mat-label>Type af arrangement</mat-label>
                    <input matInput type="text" formControlName="EventType">
                </mat-form-field>

            </div>
            <div class="col-6">
                <mat-form-field class="form-field">
                    <mat-label>Telefonnummer</mat-label>
                    <input matInput type="text" formControlName="PhoneNumber">
                </mat-form-field>

            </div>
            <div class="col-6">
                <mat-form-field class="form-field">
                    <mat-label>Adresse for arrangement</mat-label>
                    <input matInput type="text" formControlName="Address">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="form-field" >
                    <mat-label>Kommentar</mat-label>
                    <textarea matInput type="text" formControlName="Comment" ></textarea>
                </mat-form-field>

            </div>
            
            <button mat-raised-button (click)="submit()" class="submit-button col-12" type="submit">
                Modtag tilbud
            </button>
            <mat-error *ngIf="errorMessage != null">{{this.errorMessage}}</mat-error>
            <p *ngIf="successMessage != null" color="green">{{this.successMessage}}</p>
        </form>
    </div>
</div>