<div class="mostPopularDrinksSection">
    <div class="sectionWidth row">
        
        <div class="padding">
            <div class="text-center">
                <h2>
                    Vores mest populære drinks
                </h2>
            </div>
            <div  class="row">
                <div>

                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 cocktail-img-container">
                    <div class="cocktail-img">
                        <div class="drink-name-cover">
                            <div>
                                <h4>Cosmopolitan</h4>
                            </div>
                        </div>
                        <img src="assets/Cocktails/image0.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 cocktail-img-container">
                    <div class="cocktail-img">
                        <div class="drink-name-cover">
                            <div>
                                <h4>Dark & Stormy</h4>
                            </div>
                        </div>
                        <img src="assets/Cocktails/image1.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 cocktail-img-container">
                    <div class="cocktail-img">
                        <div class="drink-name-cover">
                            <div>
                                <h4>Mojito</h4>
                            </div>
                        </div>
                        <img src="assets/Cocktails/image2.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 cocktail-img-container">
                    <div class="cocktail-img">
                        <div class="drink-name-cover">
                            <div>
                                <h4>White Lady</h4>
                            </div>
                        </div>
                        <img src="assets/Cocktails/image3.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 cocktail-img-container">
                    <div class="cocktail-img">
                        <div class="drink-name-cover">
                            <div>
                                <h4>Moscow Mule</h4>
                            </div>
                        </div>
                        <img src="assets/Cocktails/image4.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 cocktail-img-container">
                    <div class="cocktail-img">
                        <div class="drink-name-cover">
                            <div>
                                <h4>Amaretto Sour</h4>
                            </div>
                        </div>
                        <img src="assets/Cocktails/image5.jpeg" alt="">
                    </div>
                </div>
            </div>
           
            <div class="text-center p-3">
                <button mat-raised-button class="button" routerLink="/cocktail-menu">
                    Se vores cocktailkort
                </button>
                
            </div>
        </div>
        <!-- <div class=" col-md-6 col-lg-6 col-xl-6 sectionImage">
            <img src="assets/Bar/image6.jpeg"/>
        </div> -->
    </div>
</div>
