<div class="mostPopularDrinksSection">
    <div class="sectionWidth row">
        
        <div class=" col-md-6 col-lg-6 col-xl-6 padding">
            <div class="text-center">
                <h2>
                    Vores mest populære drinks
                </h2>
            </div>
           
            <div class="grid justify-content-center">
                <div class="grid-item">
                    <p>Drinks 1</p>
                    <img src="assets/Cocktails/RedSummerCocktail.png" alt="">
                </div>
                <div class="grid-item">
                    <p>Drinks 2</p>
                    <img src="assets/Cocktails/RedSummerCocktail.png" alt="">
                </div>
                <div class="grid-item">
                    <p>Drinks 3</p>
                    <img src="assets/Cocktails/RedSummerCocktail.png" alt="">
                </div>
                <div class="grid-item">
                    <p>Drinks 4</p>
                    <img src="assets/Cocktails/RedSummerCocktail.png" alt="">
                </div>
                <div class="grid-item">
                    <p>Drinks 5</p>
                    <img src="assets/Cocktails/RedSummerCocktail.png" alt="">
                </div>
                <div class="grid-item">
                    <p>Drinks 6</p>
                    <img src="assets/Cocktails/RedSummerCocktail.png" alt="">
                </div>
            </div>

            <div class="text-center ">
                <button class="button">
                    <p>Se vores cocktailkort</p>
                </button>
                
            </div>
        </div>
        <div class=" col-md-6 col-lg-6 col-xl-6 padding sectionImage">
            <img src="assets/Bar/placeholder1.jpg"  class="w-100"/>
        </div>
    </div>
</div>
