<table class="row menuTable">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">

        <div class="menuHeader row">
            <h1 class="col-12 ">Cocktailkort</h1>
        </div>
        <hr>
        <div *ngFor="let section of cocktailsSections">
            <hr>
            <div *ngFor="let item of section.cocktails let isEven = even;let i = index;let isLast= last"  >
                <tr *ngIf="isEven" class="row justify-content-center" style="width:100%">
                    <td class=" col-sm-12 col-md-6 justify-content-center d-flex" style="text-align: left;" >
                        <app-cocktail-card [cocktail]="section.cocktails[i]">
                        </app-cocktail-card>
                    </td>
                    <td *ngIf="!isLast" class=" col-sm-12 col-md-6 justify-content-center d-flex">
                        <app-cocktail-card [cocktail]="section.cocktails[i + 1]">
                        </app-cocktail-card>
                    </td>
                </tr>
            </div>
        </div>
        <hr>
        <hr>
    </div>
</table>