<table class="row menuTable">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">

        <div class="menuHeader row">
            <h1 class="col-12 ">Cocktailkort</h1>
        </div>
        <hr>
        <hr>
        <div *ngFor="let item of listOfCocktails; let isEven = even;let i = index;let isLast= last"  >
            <tr *ngIf="isEven" class="row justify-content-center">
                <td class=" col-sm-12 col-md-6 ">
                    <app-cocktail-card [cocktail]="listOfCocktails[i]">
                    </app-cocktail-card>
                </td>
                <td *ngIf="!isLast" class=" col-sm-12 col-md-6">
                    <app-cocktail-card [cocktail]="listOfCocktails[i + 1]">
                    </app-cocktail-card>
                </td>
            </tr>
        </div>
        <hr>
        <hr>
    </div>
</table>