<div class="ourSolutionsSection ">
    <div class="sectionWidth row">
        <div class=" col-md-6 col-lg-6 col-xl-6 padding sectionImage">
            <img src="assets/Bar/placeholder1.jpg"  class="w-100"/>
        </div>
        
        <div class=" col-md-6 col-lg-6 col-xl-6 padding">
            <div class="text-center">
                <h2>
                Vores løsniger
            </h2>
        </div>
        <p>
            Alt hvad du skal bruge til en god aften
        </p>
        <p>
            Lad Vubar stå for din næste fest med et bredt menukort af lækre drinks af en uovertruffen kvalitet.
        </p>
        <ul>
            <li>Løsning 1</li>
            <li>Løsning 2</li>
            <li>Løsning 3</li>
        </ul>
            <div class="text-center callToActionButton">
                <button >
                    <p>Se hvad vi kan gøre for dig</p>
                </button>
                
            </div>
        </div>
    </div>
</div>

