<div class="ourSolutionsSection ">
    <div class="sectionWidth row d-flex">
        <div class=" col-md-6 col-lg-6 col-xl-6 padding sectionImage">
            <img src="assets/Bar/image8.jpeg"  class="w-100"/>
        </div>
        
        <div class=" col-md-6 col-lg-6 col-xl-6 padding">
            <div class="text-center">
                <h2>
                Vores løsninger
                </h2>
            </div>
            <p>
                Alt hvad du skal bruge til en god aften
            </p>
            <p>
                Lad Vubar stå for din næste fest med et bredt menukort af lækre drinks af en uovertruffen kvalitet.
            </p>
            <ul>
                <li>Fødselsdage</li>
                <li>Firmafester</li>
                <li>Bryllupper</li>
            </ul>
            <div class="text-center callToActionButton">
                <button mat-raised-button routerLink="/order">Se hvad vi kan gøre for dig</button>
                
                
            </div>
        </div>
    </div>
</div>

