*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --primary-background: #FDF3DD;
    --secondary-background: #E2D5B9;
    --primary-call-to-action: #99356A;
    --secondary-call-to-action: #E3DAC6;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary-background);
}

.sectionWidth{
    max-width: 1264px;
}

html, body { height: 100%; }
body { margin: 0; }
.mat-mdc-raised-button{
    z-index: 0 !important;
}
