<div class="">
    <div class="childSection">
        <app-home-header>

        </app-home-header>
    </div>
    <div class="childSection">
        <app-our-solutions>

        </app-our-solutions>
    </div>
    <div class="childSection">
        <app-most-popular-drinks>
            
        </app-most-popular-drinks>
    </div>
    <!-- <div class="homeSection">
        
        <div class="row">
            <div class="col-12 logo">
                <h1>Vubar</h1>
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-8">
                <p>
                Cocktailcatering
                </p>
                <p>
                    Lad Vubar stå for din næste fest med et bredt menukort af lækre drinks af en uovertruffen kvalitet.
                </p>
            </div>
        </div>
    </div> -->
</div>
<!-- <div class="row element">
    <div class="background background-left">
        <img src="assets/Cocktails/RedSummerCocktail.png" />
    </div>
    <div class="col-md-6 test">
        Hello this 
    </div>
    <div class="col-md-6 test">
        Hello this is a test
    </div>

</div>
<div class="row element">
    <div class="background background-right">
        <img src="assets/Cocktails/RedSummerCocktail.png" />
    </div>
</div> -->

