.logo > * {
    text-align: center;
    padding: 20px;
    font-size: 90px;
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100vw;
    z-index: -1;

}
.background > img{
    overflow: hidden;

    width: 600px;
    height: 800px;
}
 .background-left{
     right: 25%;

}
.background-right{
    
    left: 25%;
} 
.element{
    height:800px;
    border-bottom: 1px solid #000;
}
.homeSection{
    max-width: 1264px;
}